<!DOCTYPE html>
<html>

<head>
    <!-- Twitter bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <!-- apiCheck is used by formly to validate its api -->
    <script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
    <!-- This is the latest version of angular (at the time this template was created) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <!-- This is the latest version of formly core. -->
    <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
    <!-- This is the latest version of formly bootstrap templates -->
    <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>

    <title>Angular Formly Example</title>
    <style>
        body {
            margin: 20px
        }

        .formly-field {
            margin-bottom: 16px;
        }

        .formly.row, .formly.row .formly-field {
            margin-bottom: 0;
        }

        .formly.row .formly-field:first-child {
            padding-left: 0;
        }

        .formly.row .formly-field:nth-last-child(2) {
            padding-right: 0;
        }

        .formly-field-group ng-form {
            margin: 0;
        }

        .formly-field-group {
            margin: 0;
        }
    </style>
</head>

<body ng-app="formlyExample" ng-controller="MainCtrl as vm">
<div>
    <h1>angular-formly example: {{vm.exampleTitle}}</h1>
    <div>
        This demonstrates using <code>formly-form</code> inside of a template in order to accomplish
        repeating fields. It also uses <code>formly-field</code> inside of a template in order to
        accomplish an advanced layout.
    </div>
    <hr />
    <form ng-submit="vm.onSubmit()" novalidate>
        <formly-form model="vm.model" fields="vm.fields" form="vm.form" options="vm.options">
            <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
        </formly-form>
    </form>
    <hr />
    <h2>Model</h2>
    <pre>{{vm.model | json}}</pre>
    <h2>Fields <small>(note, functions are not shown)</small></h2>
    <pre>{{vm.originalFields | json}}</pre>
    <h2>Form</h2>
    <pre>{{vm.form | json}}</pre>
</div>

<div style="margin-top:30px">
    <small>
        This is an example for the
        <a href="https://formly-js.github.io/angular-formly">angular-formly</a>
        project made with ♥ by
        <strong>
          <span ng-if="!vm.author.name || !vm.author.url">
            {{vm.author.name || 'anonymous'}}
          </span>
            <a ng-if="vm.author.url" ng-href="{{::vm.author.url}}">
                {{vm.author.name}}
            </a>
        </strong>
        <br />
        This example is running angular version "{{vm.env.angularVersion}}" and formly version "{{vm.env.formlyVersion}}"
    </small>
</div>

<script type="text/ng-template" id="repeatSection.html">
    <div>
        <!--loop through each element in model array-->
        <div class="{{hideRepeat}}">
            <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                <formly-form fields="fields"
                             model="element"
                             form="form">
                </formly-form>
                <div style="margin-bottom:20px;">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="model[options.key].splice($index, 1)">
                        Remove
                    </button>
                </div>
                <hr>
            </div>
            <p class="AddNewButton">
                <button type="button" class="btn btn-primary" ng-click="addNew()" >{{to.btnText}}</button>
            </p>
        </div>
</script>
</body>

</html>