 <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img alt="Brand" style="height:30px; position:absolute; top:10px" src="images/logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" uib-dropdown="">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle="" data-toggle="dropdown">Record&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-repeat="form in recordForms" ng-class="{'dropdown-submenu': form.forms}">
                        <a href="#{{form.page}}">{{form.name}}</a>
                        <ul class="dropdown-menu" ng-if="form.forms.length">
                            <li ng-repeat="subform in form.forms">
                                <a href="#{{subform.page}}">{{subform.name}}</a>
                            </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                    <li>
                        <a href="#/reports">
                            Reports&nbsp;<i class="glyphicon glyphicon-list-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/services">
                            Services&nbsp;<i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#/settings">
                            Settings&nbsp;<i class="glyphicon glyphicon-menu-hamburger"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
</div>
        <!-- /.container -->